.bio {
    font-style: normal;
    font-weight: 900;
    padding: var(--main-padding);
  }

.bio-title {
  margin: 1em 0;
}

.bio-desc {
  font-weight: 400;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  padding: var(--main-padding);
  margin: auto;
  width: 70%;
}

.bio-code {
  padding: var(--main-padding);
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: auto auto;
}

.code-title {
  margin-right: 1.5rem;
}

.code-lang {
  background-color: rgb(51, 51, 51);
  color: white;
  padding: 0.75rem;
  border-radius: 0.15rem;
  width: var(--main-bio-size);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.code-lang-title {
  font-size: 1.75rem;

  margin-left: 0;
  cursor: pointer;
  border-radius: var(--main-border-radius);
  display: inline-block;
}

@media screen and (max-width: 700px) {
  .bio-code {
    grid-template-columns: auto;
  }
}

.code-lang-icon {
  font-size: 1.5rem;
}

.icon-unity {
    height: 1.5rem;
    width: 1.5rem;
    margin: 0;
    filter: hue-rotate(180deg);
}
